<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nmj.androidtomatotest" >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TitleTheme" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewpager.ViewPagerTest1Activity" />
        <activity android:name=".viewpager.ViewPagerTest2Activity" />
        <activity android:name=".recyclerview.RecyclerViewTest1Activity" />
        <activity android:name=".recyclerview.RecyclerViewTest2Activity" />
        <activity android:name=".recyclerview.RecyclerViewTest3Activity" />
        <activity android:name=".recyclerview.RecyclerViewTest4Activity" />
        <activity android:name=".recyclerview.RecyclerViewTest5Activity" android:label="RecyclerView 이미지 채우기" />
        <activity android:name=".recyclerview.RecyclerViewTest6Activity" android:label="RecyclerView 이미지 채우기" />
        <activity android:name=".recyclerview.RecyclerViewTest7Activity" android:label="RecyclerView 이미지 채우기"/>

        <activity android:name=".coordinator.Coordinator1Activity" />
        <activity android:name=".coordinator.Coordinator3Activity" />
        <activity android:name=".coordinator.Coordinator4Activity" android:theme="@style/SecondTheme" />

        <activity android:name=".layout.RelativeLayoutTestActivity1"/>
        <activity android:name=".layout.RelativeLayoutTestActivity2"/>
        <activity android:name=".layout.RelativeLayoutTestActivity3"/>
        <activity android:name=".layout.RelativeLayoutTestActivity4"/>
        <!--<activity android:name=".layout.FrameLayoutTestActivity3"/>-->
        <!--<activity android:name=".layout.FrameLayoutTestActivity4"/>-->
        <!--<activity android:name=".coordinator.Coordinator3Activity" />-->
    </application>3

</manifest>
