<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nmj.att" >


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TitleTheme" >
        <activity
            android:name="com.nmj.att.MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.nmj.att.UtilActivity" android:label="utils" />
        <activity android:name="com.nmj.att.viewpager.ViewPagerTest1Activity" />
        <activity android:name="com.nmj.att.viewpager.ViewPagerTest2Activity" />
        <activity android:name="com.nmj.att.viewpager.ViewPagerTest3Activity" />
        <activity android:name="com.nmj.att.recyclerview.RecyclerViewTest1Activity" />
        <activity android:name="com.nmj.att.recyclerview.RecyclerViewTest2Activity" android:label="RecyclerView click evenet" />
        <activity android:name="com.nmj.att.recyclerview.RecyclerViewTest3Activity" />
        <activity android:name="com.nmj.att.recyclerview.RecyclerViewTest4Activity" />
        <activity android:name="com.nmj.att.recyclerview.RecyclerViewTest5Activity" android:label="RecyclerView 이미지 채우기" />
        <activity android:name="com.nmj.att.recyclerview.RecyclerViewTest6Activity" android:label="RecyclerView 이미지 채우기" />
        <activity android:name="com.nmj.att.recyclerview.RecyclerViewTest7Activity" android:label="RecyclerView 이미지 채우기"/>
        <activity android:name="com.nmj.att.recyclerview.DynamicRecyclerActivity1" />
        <activity android:name=".recyclerview.DynamicRecyclerActivity2" />
        <activity android:name=".recyclerview.DynamicRecyclerActivity3" />
        <activity android:name=".recyclerview.DynamicRecyclerActivity4" />

        <activity android:name="com.nmj.att.coordina.Coordinator1Activity" />
        <activity android:name="com.nmj.att.coordina.Coordinator3Activity" />
        <activity android:name="com.nmj.att.coordina.Coordinator4Activity" android:theme="@style/SecondTheme" />

        <activity android:name="com.nmj.att.layout.RelativeLayoutTestActivity1"/>
        <activity android:name="com.nmj.att.layout.RelativeLayoutTestActivity2"/>
        <activity android:name="com.nmj.att.layout.RelativeLayoutTestActivity3"/>
        <activity android:name="com.nmj.att.layout.RelativeLayoutTestActivity4"/>

        <activity android:name="com.nmj.att.dialog.DialogCallerActivity1"  android:theme="@style/AppTheme" />

        <activity android:name="com.nmj.att.view.ControlTestActivity1"/>

        <activity android:name="com.nmj.att.rx.RxActivity"/>
        <activity android:name="com.nmj.att.rx.RxButtonClickActivity"/>
        <activity android:name="com.nmj.att.rx.RxTestActivity1"/>

        <activity android:name="com.nmj.att.widget.WidgetActivity1"/>

    </application>3

</manifest>
